@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Roboto+Mono:ital,wght@0,200;0,700;1,300&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #ccc;
}

.swiper {
    width: 950px;

}

section .card .image {
    height       : 140px;
    width        : 140px;
    border-radius: 50%;
    padding      : 3px;
    background   : #7d2ae8;
}

section .card .image img {
    height       : 100%;
    width        : 100%;
    object-fit   : cover;
    border-radius: 50%;
    border       : 3px solid #fff;
}

.card {
    position     : relative;
    background   : #fff;
    border-radius: 20px;
    margin       : 20px 0;
    width        : 280px;
}

.container {
    position   : relative;
    height     : 450px;
    width      : 450px;
    display    : flex;
    align-items: center;
}

.card::before {
    content      : "";
    position     : absolute;
    height       : 40%;
    width        : 100%;
    background   : #7d2ae8;
    border-radius: 20px 20px 0 0;

}

.card .card-content {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 30px;
    z-index       : 100;
    position      : relative;
}

.card .media-icons {
    position      : absolute;
    top           : 10px;
    right         : 20px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.card .media-icons i {
    color     : #fff;
    margin-top: 10px;
    opacity   : 0.6;
    transition: all 0.3s ease;
    cursor    : pointer;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .name-profession {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-top    : 30px;
    color         : #333;
}

.name-profession .name {
    font-size  : 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size  : 20px;
    font-weight: 500;
}

.card .rating {
    display    : flex;
    align-items: center;
    margin-top : 18px;
}

.card .rating i {
    color    : #7d2ae8;
    font-size: 18px;
    margin   : 0 2px;
}

.card .button {
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    margin-top     : 20px;
}

.card .button button {
    background   : #7d2ae8;
    outline      : none;
    border       : none;
    color        : #fff;
    padding      : 8px 22px;
    border-radius: 20px;
    font-size    : 14px;
}

.button button:hover {
    background: #6616d0;
    cursor    : pointer;
}